# slightly modified from:
# https://github.com/kubernetes/kubernetes/blob/ba8fcafaf8c502a454acd86b728c857932555315/build/debs/kubelet.service
[Unit]
Description=krustlet: Kubernetes Kubelet in Rust for running WASM
Documentation=https://docs.krustlet.dev/
# ConditionPathExists=/var/lib/kubelet/config.yaml

[Service]
ENVIRONMENT=KUBECONFIG=~/.krustlet/config/kubeconfig
ExecStart=/etc/default/krustlet-init.sh
Restart=always
StartLimitInterval=0
# NOTE: kind deviates from upstream here with a lower RestartSecuse
RestartSec=1s

[Install]
WantedBy=multi-user.target
